<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ar.com.stoller.stollermobile" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Login"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Lobby"
            android:label="@string/title_activity_lobby" >
        </activity>
        <activity
            android:name=".RegistrarStock"
            android:label="@string/title_activity_registrar_stock" >
        </activity>

        <activity
            android:name=".SeleccionarProductoStock"
            android:label="@string/title_activity_seleccionar_producto"
            android:theme="@android:style/Theme.Holo.Light.Dialog" >
        </activity>
        <activity
            android:name=".SeleccionarProductoOrdenPedido"
            android:label="@string/title_activity_seleccionar_producto"
            android:theme="@android:style/Theme.Holo.Light.Dialog" >
        </activity>
        <activity
            android:name=".IngresarPedido"
            android:label="@string/title_activity_ingresar_pedido" >
        </activity>
    </application>

</manifest>
